In [5]:
import pymc3 as pm
import theano.tensor as tt
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import arviz as az
import seaborn as sns

%matplotlib inline

In [8]:
pd.read_csv('data/test.csv').head()

,Unnamed: 0,t,Cl,ka,ke,x_0,x_1,x_2,x_3,delay,y,y_obs
0,subject_0000,0.500000,11.959142,0.819121,0.620905,-1.352203,0.746388,0.0,1.0,0.298219,0.037107,0.045855
1,subject_0000,2.142857,11.959142,0.819121,0.620905,-1.352203,0.746388,0.0,1.0,0.298219,0.104510,0.109651
2,subject_0000,3.785714,11.959142,0.819121,0.620905,-1.352203,0.746388,0.0,1.0,0.298219,0.061410,0.069063
3,subject_0000,5.428571,11.959142,0.819121,0.620905,-1.352203,0.746388,0.0,1.0,0.298219,0.028320,0.037058
4,subject_0000,7.071429,11.959142,0.819121,0.620905,-1.352203,0.746388,0.0,1.0,0.298219,0.011820,0.014789